<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/mainLayout.html}">

<div layout:fragment="content">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addNewUserModal">
        + Add new User
    </button>

    <!-- Modal -->
    <form action="/user" method="post"  id="myForm">
        <div class="modal fade" id="addNewUserModal" tabindex="-1" aria-labelledby="addNewUserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">CREATE AN ACCOUNT</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="fullNameField" class="form-label">Full Name</label>
                            <input id="fullNameField" name="fullName" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="emailField" class="form-label">Email address</label>
                            <input id="emailField" name="email" type="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="passwordField" class="form-label">Password</label>
                            <input id="passwordField" name="password" type="password" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="rePasswordField" class="form-label">Repeat Password</label>
                            <input id="rePasswordField" name="rePassword" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">ADD</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
        <th>ID</th>
        <th>EMAIL</th>
        <th>FULL NAME</th>
        <th>DETAILS</th>
        </tr>
        </thead>
        <tbody class="app">
        </tbody>
    </table>

    <script type="text/javascript" th:src="@{'/javascript/user-list.js'}"></script>
</div>
</html>