<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/mainLayout.html}">

<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="row g-0 p-3 justify-content-between">
            <div class="col-md-3">
                <img th:src="@{/img/img1.png}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title" id="eventName"></h5>
                    <p class="card-text" id="description"></p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#makeBookingModal">
                        КУПИТЬ БИЛЕТ
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="makeBookingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form class="modal-dialog modal-lg" action="/booking" method="post" id="makeBookingForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ОФОРМЛЕНИЕ ЗАКАЗА</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="eventId">
                    <div id="ticketsContainer"></div>
                    <div class="d-flex justify-content-center mt-2">
                    <button type="button" id="addTicketBtn" class="btn btn-sm btn-success text-center">Добавить билет</button>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="userEmailInput" class="form-label">Your email</label>
                        <input name="userEmail" type="email" class="form-control" id="userEmailInput"
                               placeholder="Укажите адрес электронной почты" required>
                    </div>
                    <h6>Билетов: <span id="totalTickets">0</span></h6>
                    <h6>Итоговая стоимость: <span id="totalPrice">0</span></h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="makeBookingButton">Забронировать</button>
                </div>
            </div>
        </form>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12">
        <h3 class="box-title mt-5">General Info</h3>
        <div class="table-responsive">
            <table class="table table-striped table-product">
                <tbody>
                <tr>
                    <td>Дата:</td>
                    <td id="eventDate"></td>
                </tr>
                <tr>
                    <td>Начало:</td>
                    <td id="eventTime"></td>
                </tr>
                <tr>
                    <td>Место проведения:</td>
                    <td id="venue"></td>
                </tr>
                <tr>
                    <td>Жанр:</td>
                    <td id="eventType"></td>
                </tr>
                <tr>
                    <td>Стоимость билета:</td>
                    <td id="ticketCost"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <form action="/comments" method="post" class="mb-3" id="addCommentForm">
        <input type="hidden" id="userEmail" value="">
        <label for="commentText" class="form-label">Your comment:</label>
        <textarea class="form-control mb-1" id="commentText" rows="3"
                  placeholder="Write a comment..."></textarea>

        <button class="btn btn-success btn-sm float-md-end" type="submit">ADD COMMENT</button>
    </form>

    <hr>

    <h5>Comments:</h5>
    <div class="comments"></div>

    <script type="text/javascript" th:src="@{'/javascript/event-view.js'}"></script>
</div>
</html>


