<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/mainLayout.html}">

<div layout:fragment="content">
    <input type="hidden" id="idField" name="userId">
    <div class="mx-auto col-8">
        <div class="mb-3">
            <label for="emailField" class="form-label">USER Email</label>
            <input type="email" class="form-control" id="emailField" readonly>
        </div>
        <div class="mb-3">
            <label for="fullNameField" class="form-label">USER Full Name</label>
            <input type="text" class="form-control" id="fullNameField">
        </div>
        <div class="mb-3">
            <label for="fullNameField" class="form-label">USER Phone Number</label>
            <input type="text" class="form-control" id="phoneField">
        </div>
        <div class="mb-3">
            <label for="roles" class="form-label">USER Roles</label>
            <div class="col-sm-9 d-flex">
                <div class="roles d-flex" id="roles"></div>
                <!-- Button trigger modal -->
                <button type="button" data-bs-toggle="modal" data-bs-target="#addRoleForUserModal" class="btn btn-success" id="addRoleForUser">
                    + ADD ROLE
                </button>
            </div>
        </div>
        <hr>
       <div class="float-end">
           <button class="btn btn-success me-3" type="submit" id="editUserButton">EDIT USER</button>
           <button class="btn btn-danger" id="deleteButton">DELETE USER</button>
       </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="addRoleForUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-select" name="roles" id="roleList">
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="addRoleButton">ADD ROLE</button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" th:src="@{'/javascript/user-details.js'}"></script>
</div>
</html>